@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@600&display=swap');

*{
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
}
header {
    margin: 0;
    /*margin: 0;*/
}

body {
    margin: 0;
}

html {
    background-image: linear-gradient(to bottom right, #bafcce, white);
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    /*background-color: #333;*/
    color: black;
}

.brand-title {
    font-size: 2.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    left: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .brand-title {
        text-align: center;
    }
    
    .navbar {
        flex-direction: column;
        /*align-items: flex-start;*/
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: l;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .brand-title {
        font-size: 2rem;
    }
}
.contribute-button a{
    text-align: center;
    background-color: #0A66C2;
    border: 0;
    padding: 0.5% 1% 0.5%;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 150%;
    text-decoration: none;
    color: white;
}

/*Section 1 heading*/
.section1-heading h1{
    font-size: 500%;
    text-align: center;
    margin: 0;
    padding: 1em 1em 0.5em;
}
#section1-paragraph {
    text-align: center;
    font-size: 200%;
    padding-bottom: 1em;
}


.server-button {
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.server-button a{
    text-align: center;
    background-color: #0A66C2;
    border: 0;
    padding: 1%;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 150%;
    text-decoration: none;
    color: white;
}

.server-button:hover a{
    background-color: #4292E3;
}

.server-button:pressed a {
    background-color: #42A8E3;
}

.app-download {
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 150%;
}

.app-download a{
    text-decoration: none;
}

@media (max-width: 800px) {
    .section1-heading h1{
        font-size: 275%;
        text-align: center;
        margin: 0;
        padding: 0.5em 0em 0.5em;
    }
    .server-button {
        padding-top: 1em;
        padding-bottom: 0.5em;
    }
    .server-button a{
        padding: 0.5em 0.5em 0.5em;
    }

    #section1-paragraph {
        font-size: 150%;
        padding: 0.5em;
    }
}

/*Section 2*/

.section2-heading h1{
    font-size: 300%;
    padding-top: 5%;
}

.section2-paragraph {
    font-size: 150%;
}
.section2-image img {
    height: 75%;
    width: 75%;
}


@media (max-width: 800px) {
    .section2-heading h1{
        /*padding-top: 1%;*/
        padding-top: 10%;
        font-size: 200%;
        padding-bottom: 0em;
        border: 0;
    }

    #section2-text {
        text-align: center;
        /*padding-left: 1em;*/
    }

    .section2-paragraph {
        font-size: 130%;
        padding-top: 0em;
        padding-bottom: 1em;
    }

    .section2-image img{
        height: 160%;
        width: 160%;
        padding-bottom: 15%;
    }
}

@media (min-width: 801px){
    .section2 {
        display: inline;
        /*box-sizing: border-box;*/
        /*justify-content: space-between;*/
    }
    #section2-text {
        width: 40%;
        float: left;
        padding-left: 3em;
        padding-top: 8em;
    }

    .section2-image img {
        height: 100%;
        width: 100%;
        float: right;
        right: 50px;
        position:relative;
        padding-top: 8em;
        /*top: -50%;*/
        padding-bottom: 18%;
        right:-10%;
    }
}

/*Section 3*/

.section-3 {
    position: relative;
}

.thumbnail-image {
    display: block;
    border-radius: 1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.video-demo-container {
    position: absolute;
    top: 4%;
    right: 16%;
    border-radius: 3em;
    background-color: white;
}
.video-demo-text {
    font-size: 120%;
    font-weight: 10px;
    /*border: 0;*/
    color: red;
    padding: 0.5em 0.8em 0.5em;
}

.youtube-play-button {
    position: absolute;
    padding-top: 1em;
    bottom: 35%;
    left: 45%;
}

.youtube-play-button img {
    width: 70%;
    height: 70%;
    border-radius: 25%;
}

.youtube-play-button:hover img {
    filter: hue-rotate(70deg);
    transform: scale(1.05);
    transition: ease-in;
    transition-duration: 0.2s;
}

.youtube-play-button:pressed img {
    filter: hue-rotate(-70deg);
}

@media (max-width: 800px) {
    .video-demo-text {
         font-size: 70%;
         padding: 0.5em 0.8em 0.5em;
    }

    .youtube-play-button {
        position: absolute;
        padding-top: 1em;
        bottom: 35%;
        left: 40%;
    }

    .youtube-play-button img {
        width: 30%;
        height: 30%;
    }
}

/*Section-4*/


.section4-heading h1{
    font-size: 300%;
    padding-top: 5%;
}

.section4-paragraph {
    font-size: 150%;
}
.section4-image img {
    height: 75%;
    width: 75%;
    transform: rotate(90deg);
    padding-bottom: 10%;
    margin-bottom: 10%;

}


@media (max-width: 800px) {
    .section4-heading h1{
        /*padding-top: 1%;*/
        padding-top: 0em;
        margin: 0;
        font-size: 200%;
        padding-bottom: 0em;
        border: 0;
    }

    #section4-text {
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        /*padding-left: 1em;*/
    }

    .section4-paragraph {
        font-size: 130%;
        padding-top: 0em;
        padding-bottom: 1em;
    }

    .section4-image img{
        height: 160%;
        width: 160%;
        padding-top: 25%;
        padding-bottom: 25%;
    }
}

@media (min-width: 801px){
    .section4 {
        display: inline;
        position: relative;
        /*box-sizing: border-box;*/
        /*justify-content: space-between;*/
    }

    #section4-text {
        width: 50%;
        float: right;
        right: 10%;
        position: relative;
        padding-left: 3em;
        padding-top: 8em;
    }

    .section4-image img {
        height: 100%;
        width: 100%;
        float: left;
        padding-top: 20%;
        /*top: -50%;*/
        position: relative;
        left: -10%;
        padding-bottom: 30%;
    }
}

/*Section 5*/

.section5-heading h1{
    font-size: 300%;
    padding-top: 5%;
}

.section5-paragraph {
    font-size: 150%;
}
.section5-image img {
    height: 75%;
    width: 75%;
}


@media (max-width: 800px) {
    .section5-heading h1{
        /*padding-top: 1%;*/
        padding-top: 3%;
        font-size: 200%;
        padding-bottom: 0em;
        border: 0;
    }

    #section5-text {
        text-align: center;
        /*padding-left: 1em;*/
    }

    .section5-paragraph {
        font-size: 130%;
        padding-top: 0em;
        padding-bottom: 1em;
    }

    .section5-image img{
        height: 80%;
        width: 80%;
        padding-bottom: 15%;
    }

    .section5-image {
        text-align: center;
    }
}

@media (min-width: 801px){
    .section5 {
        display: inline;
        /*box-sizing: border-box;*/
        /*justify-content: space-between;*/
    }
    #section5-text {
        width: 40%;
        float: right;
        padding-left: 3em;
        padding-top: 8em;
    }

    .section5-image img {
        height: 80%;
        width: 80%;
        float: left;
        /*right: 50px;*/
        position:relative;
        padding-top: 8em;
        /*top: -50%;*/
        margin-left: 10%;
        padding-bottom: 18%;
    }
}

/*Footer*/

.footer-section {
    padding-top: 10em;
}

footer {
    height: 12em;
    background-color: #5da3e8;
}

.privacy-policy {
    right: 10em;
    bottom: 10em;
}

.footer-remotifier-text a{
    color: white;
    text-decoration: none;
    font-size: 200%;
    padding: 10;
}

.footer-navigation-text a{
    text-decoration: none;
    color: white;
    padding: 0em 0.5em 0em;
}

.privacy-policy a{
    text-decoration: none;
    color: white;
    padding: 0em 0.5em 0em;
}

@media (max-width: 800px) {
    .footer-section {
        padding-top: 3em;
    }

    .footer-remotifier-text{
        text-align: center;
        padding-top: 1em;
    }
    .footer-navigation-text{
        text-align: center;
        padding-top: 1em;
    }

    .privacy-policy {
        text-align: center;
        padding-top: 1em;
    }

    .footer-copyright-text {
        text-align: center;
        padding-top: 1em;
    }
}

@media (min-width: 801px){
    footer {
        position: relative;
    }

    .footer-section {
        padding-top: 3em;
        
    }
    .footer-remotifier-text{
        /*text-align: left;*/
        position: absolute;
        top: 15%;
        left: 5%;
        padding-top: 1em;
        width: 50%;
    }
    .footer-navigation-text{
/*        position: absolute;
        top: 25%;
        right: 5%;*/
        text-align: center;
        padding-top: 2.5em;
    }

    .footer-navigation-text a{
        padding-right: 2px;

    }

    .privacy-policy {
        float: right;
/*        position: absolute;
        top: -25%;
        right: 5%;*/
    }

    .footer-copyright-text {
        position: absolute;
        bottom: 20%;
        right: 40%;
        padding-top: 1em;
    }
}